body {
    background-color: #f8f8f9;
    font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
}

input {
    margin: 0 auto;
    display: block;
    padding: 15px;
}

.content {
    margin: 0 auto;
    text-align: center;
}

.logo {
    margin: 0 auto;
    background-color: black;
    width: 5%;
    height: 40px;
    text-align: center;
    color: #fff;
    font-weight: 800;
    padding-top: 15px;
}

.signup {
    font-size: 30px;
}

button {
    background-color: darkcyan;
    border: none;
    outline: none;
    width: 17%;
    padding: 15px;
    color: #fff;
}

a {
    text-decoration: none;
    display: block;
}

.safe {
    font-size: 20px;
}

p {
    font-size: 13px;
}

.promo {
    padding: 20px;
    color: darkturquoise;
    font-size: 15px;
}